/**
 * This file should contain frontend styles that
 * will be applied to all module instances.
 */

.ee-table-input.input-small {
    width: 46px !important;
}

.ee-table-content {
	position: relative;
}

.ee-table-content:before {
	/*content: "";*/
	display: block;
	position: absolute;;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.ee-table-content .event-title,
.ee-table-content .event-description {
	position: relative;
}

.ee-table-content .espresso_event_type-single-event form {
	position: relative;
}

.ee-table-content .espresso_event_type-single-event {
	width: 100% !important;
}

